<h2>Chamados</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-3">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" [(ngModel)]="filtroLista">
    </div>


  </div>
</div>
<!-- <h3>Filtro: {{filtroLista}}</h3> -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Numero</th>
      <th>Status</th>
      <th>Data Cadastro</th>
      <th>Data Recebimento</th>
      <th>Data Homologação</th>
      <th>Data Publiação</th>
      <th>Opções</th>
    </tr>

  </thead>
  <tbody *ngIf="Chamados">
    <tr *ngFor="let chamado of ChamadosFiltrados">
      <td>{{chamado.id}}</td>
      <td>{{chamado.numero}}</td>
      <td>{{chamado.isAtivo ? 'Ativo' : 'Inatvo'}}</td>
      <td>{{chamado.dataHoraCadastro | date:'dd/MM/yyyy'}}</td>
      <td>{{chamado.dataRecebimento | date:'dd/MM/yyyy'}}</td>
      <td>{{chamado.dataEnvioHomologacao | date:'dd/MM/yyyy'}}</td>
      <td>{{chamado.dataPublicacao | date:'dd/MM/yyyy'}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!Chamados">
    <tr class="text-center">
      <td colspan="8">
        <h4>Nenhum chamado encontrado.</h4>
      </td>
    </tr>
  </tfoot>
</table>
