<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">

    <form (ngSubmit)="submit()" [formGroup]="registerForm" class="p-1" #formDir="ngForm">

      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="row" style="padding-bottom: 10px;">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control"
          formControlName="primeiroNome" placeholder="Insira o Primeiro nome" />
          <div *ngIf="primeiroNome.invalid && formDir.submitted" class="validation-erro">
            <p *ngIf="primeiroNome.errors?.['required']">O campo Primeiro Nome é obrigatório</p>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control"
          formControlName="ultimoNome" placeholder="Insira o Último nome" />
          <div *ngIf="ultimoNome.invalid && formDir.submitted" class="validation-erro">
            <p *ngIf="ultimoNome.errors?.['required']">O campo Último Nome é obrigatório</p>
          </div>
        </div>
      </div>

      <div class="form-group" style="padding-bottom: 10px;">
        <label for="">Email:</label>
        <input class="form-control" type="text"
        formControlName="email" placeholder="Insira o seu Email"/>
        <div *ngIf="email.invalid && formDir.submitted" class="validation-erro">
          <p *ngIf="email.errors?.['required']">O campo Email é obrigatório</p>
        </div>
        <div *ngIf="email.invalid && formDir.submitted" class="validation-erro">
          <p *ngIf="email.errors?.['email']">Preencha um email válido</p>
        </div>
      </div>

      <div class="row" style="padding-bottom: 10px;">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password"
          formControlName="senha" placeholder="Digite uma Senha" />
          <div *ngIf="senha.invalid && formDir.submitted" class="validation-erro">
            <p *ngIf="senha.errors?.['required']">O campo Senha é obrigatório</p>
          </div>
          <div *ngIf="senha.invalid && formDir.submitted" class="validation-erro">
            <p *ngIf="senha.errors?.['minlength']">Deve conter no mínimo 6 caracteres</p>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password"
          formControlName="confirmarSenha" placeholder="Confirme a Senha" />
          <div *ngIf="confirmarSenha.invalid && formDir.submitted" class="validation-erro">
            <p *ngIf="confirmarSenha.errors?.['required']">O campo Senha é obrigatório</p>
          </div>
          <div *ngIf="confirmarSenha.invalid && formDir.submitted" class="validation-erro">
            <p *ngIf="confirmarSenha.errors?.['informacaoDiferente']">As senhas não correspondem</p>
          </div>
        </div>
      </div>
          <div class="form-row">
            <div class="form-group col-12">
              <button class="btn btn-lg btn-success w-100" style="width:500px;">
                Registar
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <a class="btn btn-link d-flex justify-content-center" routerLink="/user/login">
                Já sou Cadastrado
              </a>
            </div>
          </div>
        </form>

      </div>
    </div>
