<div class="card rounded shadow-sm" style="margin-bottom: 20px;">

  <form (ngSubmit)="submit()" [formGroup]="bancoDadosForm" #formDir="ngForm">
    <div class="p-3">
      <div class="row" style="margin-bottom: 10px;">
        <div class="form-group col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control"
          formControlName="nome" placeholder="">
          <div *ngIf="nome.invalid && formDir.submitted" class="validation-error" >
            <p *ngIf="nome.errors?.['required']">O campo Nome é obrigatório</p>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Cliente</label>
          <input type="text" class="form-control"
          formControlName="clienteId" placeholder="">
          <div *ngIf="clienteId.invalid && formDir.submitted" class="validation-error" >
            <p *ngIf="clienteId.errors?.['required']">O campo Cliente é obrigatório</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-danger me-auto border" routerLink="/bancoDados/lista">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" (click)="salvar()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>

</div>
