<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GBT</a>
    <button class="navbar-toggler"  (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" href="#">Projetos em Atividade</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="chamados">Chamados</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="dns">DNS</a>
        </li>
         <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="bancoDados">Bases</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="clientes">Clientes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="">Solicitações</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" style="cursor:pointer" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Thiago
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"  routerLinkActive="active">
            <a class="dropdown-item" routerLink="perfil">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" href="#">
              Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
