<app-titulo [titulo]="'Chamados'"></app-titulo>
<hr>

<div class="form-inline">
  <div class="form-group mb-3">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" [(ngModel)]="filtroLista">
    </div>


  </div>
</div>
<!-- <h3>Filtro: {{filtroLista}}</h3> -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Numero</th>
      <th>Status</th>
      <th>Data Cadastro</th>
      <th>Data Recebimento</th>
      <th>Data Homologação</th>
      <th>Data Publiação</th>
      <th>Opções</th>
    </tr>

  </thead>
  <tbody *ngIf="Chamados">
    <tr *ngFor="let chamado of ChamadosFiltrados">
      <td>{{chamado.id}}</td>
      <td>{{chamado.numero}}</td>
      <td>{{chamado.isAtivo ? 'Ativo' : 'Inatvo'}}</td>
      <td>{{chamado.dataHoraCadastro | DateTimeFormat}}</td>
      <td>{{chamado.dataRecebimento | DateTimeFormat}}</td>
      <td>{{chamado.dataEnvioHomologacao | DateTimeFormat}}</td>
      <td>{{chamado.dataPublicacao | DateTimeFormat}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2 " title="Editar">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" title="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!Chamados">
    <tr class="text-center">
      <td colspan="8">
        <h4>Nenhum chamado encontrado.</h4>
      </td>
    </tr>
  </tfoot>
</table>


<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja excluir esse Chamado?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

