<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pe-3">
      <div class="input-group mb-3">
          <div class="input-group-text">Filtro: </div>
        <input
        type="text"
        class="form-control"
        placeholder="Buscar"
        [(ngModel)]="filtroLista">
      </div>
    </div>

    <div>
      <a class="d d-flex btn btn-outline-primary" routerLink="/clientes/form">
        <i class="fa fa-plus-circle my-1 me-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo Cliente</b>
      </a>
    </div>
  </div>

  <!-- <h3>Filtro: {{filtroLista}}</h3> -->
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Status</th>
        <th>Data Cadastro</th>
        <th class="d-flex justify-content-end">Opções</th>
      </tr>

    </thead>
    <tbody *ngIf="Clientes">
      <tr *ngFor="let cliente of ClientesFiltrados" (click)="editarCliente(cliente.id)" style="cursor:pointer">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.isAtivo ? 'Ativo' : 'Inatvo'}}</td>
        <td>{{cliente.dataHoraCadastro | DateTimeFormat}}</td>
        <td class="d-flex justify-content-end">
          <!-- <button type="button" class="btn btn-primary btn-sm me-2 " title="Detalhes" (click)="detalheCliente(cliente.id)">
            <i class="fas fa-list"></i>
          </button> -->
          <button type="button" class="btn btn-primary btn-sm me-2 " title="Editar" (click)="editarCliente(cliente.id)">
            <i class="fas fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" title="Excluir" (click)="openModal($event,template,cliente.nome, cliente.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!Clientes">
      <tr class="text-center">
        <td colspan="8">
          <h4>Nenhum cliente encontrado.</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja excluir esse Cliente?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

