<div class="card rounded shadow-sm p-3">
    <div>
        <h3>Detalhe do Chamado {{chamado.numero}}</h3>
    </div>
    <table  class="table table-striped table-hover">
        <tbody *ngIf="chamado">

            <tr>
                <td class="titulo">ID:</td>
                <td class="conteudo">{{chamado.id}}</td>
                <td class="titulo">Numero:</td>
                <td class="conteudo">{{chamado.numero}}</td>
            </tr>
            <tr>
                <td class="titulo">Cliente:</td>
                <td class="conteudo">{{chamado.clienteId}}</td>
                <td class="titulo">Banco de Dados:</td>
                <td class="conteudo">{{chamado.bancoDadosId}}</td>
            </tr>
            <tr>
                <td class="titulo">Ambiente de Homologação:</td>
                <td class="conteudo">{{chamado.dnsId}}</td>
                <td class="titulo">Status:</td>
                <td class="conteudo">{{chamado.isAtivo ? 'Ativo' : 'Inativo'}}</td>
            </tr>
            <tr>               
                <td class="titulo">Data de Cadastro:</td>
                <td class="conteudo">{{chamado.dataHoraCadastro | DateTimeFormat}}</td>
                <td class="titulo">Data de Recebimento:</td>
                <td class="conteudo">{{chamado.dataRecebimento | DateTimeFormat}}</td>
            </tr>
            <tr>                
                <td class="titulo">Data de Publicação:</td>
                <td class="conteudo">{{chamado.dataPublicacao | DateTimeFormat}}</td>
            </tr>
            <tr>
                <td class="titulo">Observação:</td>
                <td class="conteudo">{{chamado.observacao}}</td>                
            </tr>

        </tbody>
    </table>

</div>
